<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" style="display: none;" id="main_navbar">
				<ul class="nav navbar-nav">
					<li><a href="#" data-bind="click: goToHome">ToDo</a></li>
					@*<li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>*@
					<!--ko if: page() == 'Home' || page() == 'ColorReferenceBook' || page() == 'IconReferenceBook' || page() == 'StateReferenceBook'-->
					<li>
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Правка <span class="caret"></span></button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="#" data-bind="click: goToColor">Справочник «Раскраска строк»</a></li>
								<li><a href="#" data-bind="click: goToImage">Справочник «Иконка состояния»</a></li>
								<li><a href="#" data-bind="click: goToImportance">Справочник «Важность»</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#" data-bind="click: goToHome">Списки задач</a></li>
							</ul>
						</div>
					</li>
					<li><a href="#">Здравствуйте, <span data-bind="text: user"></span>!</a></li>
					<li><a href="#" data-bind="click: logout">Выход</a></li>
					<!--/ko-->
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year – ToDo</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
